@import url("https://fonts.googleapis.com/css?family=Nunito:300,400|Raleway:400,500,600,700");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: #fff;
  padding-top: 132px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

main {
  overflow: hidden;
  width: 100vw; }

@media (min-width: 48rem) {
  main {
    padding: 40px;
    max-width: 1300px;
    margin: 0 auto; } }

@font-face {
  font-family: "Againts refresh";
  src: url("http://db.onlinewebfonts.com/t/a284d848f02dcea64d321ebe739d67e9.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/a284d848f02dcea64d321ebe739d67e9.eot?#iefix") format("embedded-opentype"); }

@font-face {
  font-family: 'American Typewriter';
  src: url("AmericanTypewriter.woff2") format("woff2"), url("AmericanTypewriter.woff") format("woff"); }

body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.9rem;
  font-family: 'Raleway', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
th {
  margin: 0 0 0.6em 0;
  font-weight: 400;
  line-height: 1.18;
  font-family: 'Nunito', sans-serif; }

h1,
.h1 {
  font-size: 3rem;
  font-weight: 600;
  font-family: 'nunito', sans-serif; }
  h1 small,
  .h1 small {
    font-size: .5em;
    font-weight: 500;
    color: #676666; }

h2,
.h2 {
  font-size: 4.8rem; }

h3,
.h3 {
  font-size: 3.6rem; }

h4,
.h4 {
  font-size: 2.7rem; }

h5,
.h5 {
  font-size: 2.2rem; }

h6,
.h6 {
  font-size: 2rem; }

p,
.p {
  margin: 0 0 1em 0;
  max-width: 750px; }
  p:last-child,
  .p:last-child {
    margin-bottom: 0; }

a {
  text-decoration: none;
  color: initial; }

.main-header {
  background: #06183D;
  padding: 1.6em 1em 0px 1em;
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0; }
  .main-header #logo {
    height: 1.3em;
    margin: 0 auto;
    display: block; }
  .main-header .main-nav {
    padding: 0.3em 2em 0px 2em;
    margin-top: 2em; }
    .main-header .main-nav ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
    .main-header .main-nav__item {
      padding-bottom: 0.5em; }
      .main-header .main-nav__item a {
        color: #fff;
        text-transform: uppercase;
        display: block;
        font-size: 1.4rem;
        font-family: 'nunito', sans-serif;
        font-weight: 700;
        opacity: .6;
        transition: .3s all ease;
        cursor: pointer; }
      .main-header .main-nav__item--active {
        background: none;
        border-bottom: 2px solid #FFEC00;
        color: #fff; }
        .main-header .main-nav__item--active a {
          opacity: 1; }
  @media (min-width: 48rem) {
    .main-header {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center;
      height: 80px;
      padding: 0 30px; }
      .main-header #logo {
        margin: initial; }
      .main-header .main-nav {
        max-width: 380px;
        width: 100%;
        margin-top: 0;
        padding-top: 1.7em;
        height: 100%; }
        .main-header .main-nav a, .main-header .main-nav li, .main-header .main-nav ul {
          height: 100%; }
        .main-header .main-nav a:hover {
          opacity: 1; } }

.stories__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2; }
  .stories__overlay--is-active {
    display: block; }

.story-list-item {
  width: 100%;
  padding: .9em 1.1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #DAD7D7; }
  .story-list-item:last-child {
    border-bottom: none; }
  .story-list-item__thumbnail {
    margin: 0;
    margin-right: 1em; }
    .story-list-item__thumbnail img {
      height: 100px; }
  .story-list-item__meta-data h3 {
    margin: 0;
    margin-bottom: .4em;
    font-size: 1em;
    font-weight: 500; }
  .story-list-item .labels {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: .8em; }
    .story-list-item .labels img {
      margin-right: .6em; }
    .story-list-item .labels p {
      margin: 0;
      font-size: .9em;
      opacity: .6;
      font-size: .9em; }
  .story-list-item__actions {
    display: -ms-flexbox;
    display: flex; }
    .story-list-item__actions button {
      background: none;
      border: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      align-items: center; }
      .story-list-item__actions button img {
        margin-right: .3em;
        opacity: .5; }
      .story-list-item__actions button p {
        margin: 0; }

.story-header__title {
  width: 100%; }

.filters {
  background: #fff;
  transform: translateY(100%);
  transition: .3s all ease;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 3;
  padding: 25px; }
  .filters h3 {
    font-size: 1.1em;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .filters h3 small {
      font-size: 0.6em;
      color: #676666;
      font-weight: 500; }
      .filters h3 small span {
        color: #000;
        font-size: 1.3em; }

.stories__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 2;
  top: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease; }

button.filter-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 58px;
  height: 58px;
  background: #50C4D3;
  border: 2px solid #109EB3;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: #fff;
  z-index: 9;
  box-shadow: 0.1em 0.1em 1em rgba(80, 196, 211, 0.7); }
  button.filter-button:focus {
    outline: none; }

.filters--is-active {
  overflow: hidden; }
  .filters--is-active .stories__overlay {
    visibility: visible;
    opacity: 1; }
  .filters--is-active .filters {
    transform: translateY(0); }
  .filters--is-active #filter-button--filter {
    display: none; }
  .filters--is-active #filter-button--close {
    display: block; }

.applied-filters {
  display: -ms-flexbox;
  display: flex;
  padding: 10px; }

.pill {
  background: #EBEBEB;
  padding: 0.4em 1em 0.3em 1em;
  border-radius: 3em;
  font-weight: 500;
  font-size: 0.75em;
  margin-right: 8px;
  border: none;
  font-family: 'raleway';
  color: #676666;
  text-align: center; }
  .pill:after {
    content: 'x';
    margin-left: 5px; }
  .pill--sort {
    color: #fff;
    background: #109EB3; }
    .pill--sort:after {
      content: ''; }

.tag-select__tags {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .tag-select__tags .pill {
    color: #676666;
    padding: 0.8em 1em 0.7em 1em;
    border-radius: 3em;
    font-weight: 500;
    font-size: 0.55em;
    margin-right: 8px;
    border: none;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
    max-width: calc(33.3% - 8px);
    height: 33px; }

.sort-desktop {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .sort-desktop h4 {
    font-size: .8em;
    margin: 0;
    margin-right: 15px;
    color: #000;
    font-weight: 500;
    font-family: 'raleway', sans-serif; }
  .sort-desktop__item {
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    background: none;
    border: none;
    color: #000;
    opacity: 0.6;
    min-width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-right: 10px;
    margin-right: 10px;
    font-size: .8em; }
    .sort-desktop__item--active {
      color: #109EB3; }
    .sort-desktop__item:last-child {
      border: none; }

.page-search h1 {
  display: none; }

.page-search .applied-filters__rm {
  font-size: 0.8em;
  color: #109EB3; }
  .page-search .applied-filters__rm:after {
    content: 'x';
    margin-left: 5px; }

@media (min-width: 48rem) {
  .page-search {
    padding-top: 80px; }
    .page-search h1 {
      display: block; }
    .page-search section.stories {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-top: 40px; }
    .page-search .story-list-item {
      -ms-flex-direction: column;
          flex-direction: column;
      background: #fff;
      border-bottom: none;
      box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
      max-width: 100%;
      margin-bottom: 30px;
      padding: 0;
      width: calc(33.3% - 15px);
      margin-right: 15px;
      -ms-flex-align: start;
          align-items: flex-start;
      border-radius: 7px; }
      .page-search .story-list-item h3 {
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .page-search .story-list-item__thumbnail {
        margin: 0;
        width: 100%;
        height: 280px; }
        .page-search .story-list-item__thumbnail img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .page-search .story-list-item__meta-data {
        padding: 25px;
        max-width: 100%; }
      .page-search .story-list-item__labels {
        margin-bottom: 0.4em; }
        .page-search .story-list-item__labels p {
          font-size: 0.8em; }
    .page-search .applied-filters {
      padding: 0;
      padding-bottom: 25px;
      margin-top: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
    .page-search .applied-filters__rm {
      display: block; } }

@media (max-width: 48rem) {
  .page-search .applied-filters__rm {
    display: none; } }

@media (min-width: 75rem) {
  .page-search main {
    display: -ms-flexbox;
    display: flex; }
  .page-search .filter-bar {
    display: -ms-flexbox;
    display: flex; }
  .page-search .story-list-item {
    width: calc(25% - 15px); }
  .page-search .filter-button {
    display: none; } }

@media (max-width: 75rem) {
  .page-search .filter-bar,
  .page-search .sort-desktop {
    display: none; }
  .page-search .story-header {
    border-bottom: none; }
  .page-search .applied-filters {
    border-bottom: 1px solid #DAD7D7; } }

.filter-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 220px;
  max-width: 100%;
  padding-top: 50px;
  margin-right: 40px; }
  .filter-bar__status {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    border-bottom: 1px solid #DAD7D7;
    padding-bottom: 20px;
    margin-bottom: 30px; }
    .filter-bar__status button {
      background: none;
      border: none;
      font-weight: 500;
      font-size: 0.8em;
      text-align: left;
      margin-bottom: 20px;
      transition: .3s all ease;
      cursor: pointer; }
    .filter-bar__status .filter-bar__status__btn--active {
      color: #109EB3; }
      .filter-bar__status .filter-bar__status__btn--active:hover {
        color: #109EB3; }
  .filter-bar__sort {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .filter-bar__sort__item {
      margin-bottom: 5px; }
    .filter-bar__sort h3 {
      font-size: 1em;
      margin-bottom: 10px;
      font-weight: 500;
      font-family: 'raleway', sans-serif; }
    .filter-bar__sort label {
      font-size: .8em; }
      .filter-bar__sort label small {
        font-size: .8em;
        color: #676666; }

header.story-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #DAD7D7; }

.tag-select__tags input {
  opacity: 0;
  position: absolute; }

.tag-select__tags label:after {
  content: ''; }

.tag-select__tags input:checked + label {
  background: rgba(16, 158, 179, 0.2);
  color: #109EB3; }

.status-select,
.sort-select {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }
  .status-select .box,
  .sort-select .box {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: .7em;
    border: #109EB3 2px solid;
    color: #109EB3;
    border-right: 0;
    font-size: 0.65em;
    font-weight: 600; }
    .status-select .box:last-child,
    .sort-select .box:last-child {
      border-right: #109EB3 2px solid; }
  .status-select input,
  .sort-select input {
    opacity: 0;
    position: absolute; }
  .status-select label:after,
  .sort-select label:after {
    content: ''; }
  .status-select input:checked + label,
  .sort-select input:checked + label {
    background: #109EB3;
    color: #fff; }

.page-story {
  background: #000;
  padding-top: 80px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: hidden; }
  .page-story .main-header {
    background: none; }
    .page-story .main-header a {
      display: -ms-flexbox;
      display: flex; }
    .page-story .main-header img {
      margin-right: 15px; }
  .page-story main {
    padding: 0;
    max-width: initial; }
  .page-story h1 {
    font-family: "Againts refresh" !important;
    color: #fff;
    font-size: 8.5em;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 30px;
    z-index: 1;
    transition: .5s all ease; }
    .page-story h1 span {
      position: absolute; }
      .page-story h1 span:first-child {
        right: 13vw; }
      .page-story h1 span:nth-child(2) {
        left: 10vw;
        top: 23vh; }
      .page-story h1 span:last-child {
        right: 10vw;
        top: 40vh; }
  .page-story__header {
    max-height: calc(100vh - 80px);
    overflow: hidden;
    padding: 40px;
    height: calc(100vh - 80px);
    width: 100%;
    position: relative;
    transition: 1s all ease; }
    .page-story__header__text {
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 120%;
      max-width: 120%;
      font-size: 0.9em;
      line-height: 2.5;
      font-family: 'American Typewriter', sans-serif; }
    .page-story__header__overlay {
      background: linear-gradient(to top, #000, transparent);
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0;
      bottom: 0;
      z-index: 0; }
  .page-story .circ-btn {
    z-index: 1;
    position: absolute;
    bottom: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    background: none;
    border: none;
    color: #fff;
    font-family: 'American Typewriter', sans-serif; }
    .page-story .circ-btn:focus {
      outline: none; }
    .page-story .circ-btn__circ {
      border: 2px solid #ffffff52;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      margin-right: 15px; }
    .page-story .circ-btn img {
      width: 10px; }
    .page-story .circ-btn__text {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start;
      font-size: 1.2em; }
      .page-story .circ-btn__text span {
        font-family: "Againts refresh" !important;
        margin-top: 5px;
        display: block;
        font-size: 1.2em;
        letter-spacing: 3px; }

.p-story {
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s all ease;
  width: 100%;
  top: 80px;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 auto;
  height: 100%; }
  .p-story .clouds {
    position: absolute;
    left: 0;
    top: 0; }
  .p-story .backdrop__text {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #fff;
    font-size: 15em;
    position: absolute;
    top: -60px;
    left: 0;
    opacity: .07;
    max-width: 130vw;
    line-height: 0.9;
    text-align: center;
    font-family: 'American Typewriter', sans-serif; }
  .p-story p {
    color: #fff;
    max-width: 390px;
    line-height: 2;
    opacity: 0.9;
    font-size: 0.9em;
    margin-left: 25px;
    margin-right: 30px;
    font-family: 'American Typewriter', sans-serif; }
  .p-story h2 {
    font-family: "Againts refresh" !important;
    max-width: 80px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 20px;
    line-height: 1.7;
    font-size: 1.5em;
    word-break: break-all; }
  .p-story .timeline {
    position: relative;
    z-index: -1; }
    .p-story .timeline:before {
      background: linear-gradient(to bottom, #000, transparent);
      top: 0;
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 30px; }
    .p-story .timeline:after {
      background: linear-gradient(to top, #000, transparent);
      bottom: 0;
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 80px; }
    .p-story .timeline img {
      height: 390px; }

.show-story .page-story__header {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px); }
  .show-story .page-story__header h1 {
    transform: translateY(-10px); }

.show-story .p-story {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px); }

.slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 0;
  transform: translateY(-45%);
  right: 0;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  transition: .6s all ease; }
  .slide.slide-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%); }
