@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway')

$color-primary: #ffe600
$color-secundary: #24B5C8
$color-dark: #06183D
$color-dark-2: #394664
$color-light-blue: #D4F1F5
$font-headers: 'Nunito', sans-serif
$font-body: 'Raleway', sans-serif

*
  box-sizing: border-box

body
  margin: 0
  font-family: $font-body

h1, h2, h3, h4, h5, h6
  font-family: $font-headers

ul
  margin: 0
  padding: 0

a
  text-decoration: none

li
  list-style: none

main
  padding-top: 106px
  overflow: hidden
  width: 100vw

.main-header
  background: $color-dark
  padding: 26px 20px 0px 20px
  position: fixed
  width: 100%
  z-index: 9

#logo
  height: 20px
  margin: 0 auto
  display: block

.main-nav
  padding: 5px 30px 0px 30px
  margin-top: 25px

  ul
    display: flex
    justify-content: space-between

  &__item
    padding-bottom: 9px

    a
      color: #fff
      display: block

    &--active
      background: none
      border-bottom: 2px solid #fff
      color: #fff
        
.stories__overlay
  width: 100%
  height: 100%
  background: rgba(#000, .3)
  position: absolute
  z-index: 2

  &--is-active
    display: block

.story-list-item
  width: 100%
  padding: 14px 21px
  display: flex
  align-items: center
  border-bottom: 1px solid #DAD7D7

  &:last-child 
    border-bottom: none

  &__thumbnail
    margin: 0
    margin-right: 15px

    img
      height: 100px


  &__meta-data
    h3
      margin: 0
      margin-bottom: 7px

  .labels
    display: flex
    margin-bottom: 5px
    align-items: center
    margin-bottom: 10px

    img
      margin-right: 10px

    p
      margin: 0
      font-size: .8em
  
  &__actions
    display: flex

    button
      background: none
      border: none
      display: flex
      align-items: center
      align-items: center

      img
        margin-right: 5px
        opacity: .5

      p
        margin: 0

    // &__like
    //   button
    //     img
    //     p


    // &__comments
    //   button
    //     img
    //     p

    // &__downloads
    //   button
    //     img
    //     p


.filters
  background: #fff
  transform: translateY(100%)
  transition: .3s all ease
  position: fixed 
  bottom: 0
  left: 0
  width: 100%
  height: 60%
  z-index: 3
  padding: 10px 30px
 

.stories__overlay
  width: 100%
  height: 100%
  background: rgba(#000, .3)
  position: absolute
  z-index: 2
  visibility: hidden
  opacity: 0
  transition: .3s all ease
    
button.filter-button 
  position: fixed
  bottom: 30px
  right: 30px
  background: #50C4D3
  border: 2px solid #109EB3
  border-radius: 50%
  width: 58px
  height: 58px
  display: flex
  justify-content: center
  align-items: center
  color: #fff
  z-index: 9
  box-shadow: 2px 2px 14px rgba(#50C4D3, .7)


.filters--is-active
  .stories__overlay
    visibility: visible
    opacity: 1

  .filters
    transform: translateY(0)    