.story-slider-container

  h2
    font-size: 1.4em
    font-weight: 600
    font-family: raleway

    &:after
      content: ''
      display: block
      width: 40px
      height: 2px
      background: rgba(#000, .2)
      margin-top: 15px
      margin-bottom: 20px
  
.tns-outer
  position: relative

.tns-controls
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: calc(100vw - 40px)
  left: -20px
  z-index: 10

  button  
    width: 40px
    height: 40px
    background: #fff
    box-shadow: 2px 2px 14px rgba(#000, .2)
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    border: none
    color: #fff

    &:focus
      outline: none
  
  button:first-child:before
    content: '<'
    color: #000
    font-weight: 800
    position: absolute

  button:last-child
    position: absolute
    right: 0
    z-index: 99999

    &:after
      content: '>'
      color: #000
      font-weight: 800
      position: absolute

.tns-nav
  position: absolute
  bottom: 0
  width: 100vw
  left: -40px
  display: flex
  justify-content: center
  align-items: center
  z-index: 10

  button
    border: none
    max-width: 10px
    width: 10px
    height: 10px
    max-width: 10px
    border-radius: 50%
    background: rgba(#000, .1)
    padding: 0
    transition: .3s all ease
    margin-right: 10px

    &:focus
      outline: none

    &:hover
      background: rgba(#000, .4)
    
    &.tns-nav-active
      background: rgba(#000, .4)